{% extends 'base.html.twig' %}

{% block body %}
    <section class="container">
        <div class="row">
            <div class="col">
                <h2 class="mt-4 mb-3">{% block profileTitle %}Настройки{% endblock %}</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-9">
                {% block content %}{% endblock %}
            </div>
            <div class="col-3">
                <div class="list-group">
                    <a href="{{ path('show_profile') }}" class="list-group-item list-group-item-action active">
                        Общие настройки
                    </a>
                    <a href="#" class="list-group-item list-group-item-action">Настройки сотрудника</a>
                    <a href="#" class="list-group-item list-group-item-action">Настройки сотрудника</a>
                </div>
            </div>
        </div>
    </section>
{% endblock %}