{% if wo_breadcrumbs()|length %}
    {%- spaceless -%}
        <ol class="breadcrumb bg-primary mt-2 mb-2 pl-0">
            <li class="breadcrumb__item">
                <a href="{{ path('admin_homepage') }}">Home</a>
            </li>
            {% for b in breadcrumbs %}
                {% if b.url and not loop.last %}
                    <li class="breadcrumb__item">
                        <a href="{{ b.url }}">
                            {{ b.text }}
                        </a>
                    </li>
                {% else %}
                    <li class="breadcrumb__item active" aria-current="page">{{ b.text }}</li>
                {% endif %}
            {% endfor %}
        </ol>
    {%- endspaceless -%}
{% endif %}