<section class="container">
    <div class="d-flex flex-row align-items-center mt-2 mb-3">
        <div class="m-0 mr-3">
            <img src="https://i.hh.ru/logos/svg/hh.ru-small.svg" alt="logo" width="50" height="50">
        </div>
        <div class="m-2 flex-grow-1">
            <div class="input-group">
                <input type="text" class="form-control" name="search" placeholder="I searching ...">

                <div class="input-group-append">
                    <select class="btn form-control select-search" id="exampleFormControlSelect1">
                        <option>Вакансии</option>
                        <option>Резюме</option>
                    </select>
                </div>

            </div>
        </div>
        <div class="m-0">
            <a class="btn btn-primary" href="#" role="button">Найти</a>
        </div>
        <div class="ml-4">
            <a class="text-muted" href="#">Расширенный поиск</a>
        </div>
    </div>
</section>

<section class="bg-dark mb-5">
    <div class="container">
        <div class="row">
            <div class="col-2 head-alignment">
                <a class="text-white" href="#">Создать резюме</a>
            </div>
            <div class="col-2 mr-auto head-alignment">
                <a class="text-white" href="#">Создать вакансию</a>
            </div>
            <div class="col-2 text-right">
                <div class="login-dropdown head-alignment">
                    <a class="text-white" href="#">Войти</a>
                    <div class="login-dropdown-content text-left">
                        <form>
                            <div class="form-group">
                                <label for="exampleDropdownFormEmail2">Email address</label>
                                <input type="email" class="form-control" id="exampleDropdownFormEmail2" placeholder="email@example.com">
                            </div>
                            <div class="form-group">
                                <label for="exampleDropdownFormPassword2">Password</label>
                                <input type="password" class="form-control" id="exampleDropdownFormPassword2" placeholder="Password">
                            </div>
                            <div class="form-check mb-3">
                                <input type="checkbox" class="form-check-input" id="dropdownCheck2">
                                <label class="form-check-label" for="dropdownCheck2">
                                    Remember me
                                </label>
                            </div>
                            <button type="submit" class="btn btn-primary">Sign in</button>
                            <div class="registration-block mt-3">
                                <p class="text-center">Registration</p>
                                <div class="registration-block-buttons">
                                    <button type="button" class="btn btn-light">Соискателя</button>
                                    <button type="button" class="btn btn-light">Работодателя</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>