{% extends 'admin_base.html.twig' %}

{% block body %}
    <h2 class="mt-3">Companies</h2>

    <table class="table">
        <thead class="thead-dark">
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Name company</th>
            <th scope="col">User Name</th>
        </tr>
        </thead>
        <tbody>
        {% for company in companies %}
            <tr>
                <th scope="row">{{ company.id }}</th>
                <td><a href="{{ path('admin_companies_show', {'id': company.id}) }}">{{ company.name }}</a></td>
                <td>{{ company.employer.user.username }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}

{% block stylesheets %}
{% endblock %}
