{% extends 'admin_base.html.twig' %}

{% block body %}
    <h2 class="mt-3">Пользователи</h2>

    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Username</th>
                <th scope="col">Email</th>
            </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <th scope="row">{{ user.id }}</th>
                <td><a href="{{ path('admin_users_show', {'id': user.id}) }}">{{ user.username }}</a></td>
                <td>{{ user.email }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}

{% block stylesheets %}
{% endblock %}
